{
  "Parts": {
    "0": {
      "Num": 0,
      "Md5": "ac24867fce4158f09549467aeee18e79",
      "Size": 51540240
    },
    "1": {
      "Num": 1,
      "Md5": "9e0b0dfe4ddfe2c0124880654c8596dc",
      "Size": 55244705
    },
    "2": {
      "Num": 2,
      "Md5": "940cc6e298c0bcf26d56de9d48d20ad1",
      "Size": 50253960
    },
    "3": {
      "Num": 3,
      "Md5": "c585766163e1e40ee629d683fe2fbfc3",
      "Size": 64191529
    },
    "4": {
      "Num": 4,
      "Md5": "8aee43d4981571d9a3de6e1fc737cd84",
      "Size": 66162399
    }
  },
  "FileInfos": {
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c",
      "Md5": "",
      "Size": 0,
      "LastWriteTime": 638513027923565627,
      "Type": 3
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\level.dat": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\level.dat",
      "Md5": "68a095d9773439780124310cf4706488",
      "Size": 2657,
      "LastWriteTime": 638513027923417175,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\level.dat_old": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\level.dat_old",
      "Md5": "73bebb46d3a462641cc8831280878ac7",
      "Size": 2657,
      "LastWriteTime": 638513027630476099,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\levelname.txt": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\levelname.txt",
      "Md5": "49d862d47cd2300328e683c98f637943",
      "Size": 6,
      "LastWriteTime": 638513027923565627,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\netease_world_behavior_packs.json": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\netease_world_behavior_packs.json",
      "Md5": "f5bd57c383ba95f77ad910dd0200e081",
      "Size": 6,
      "LastWriteTime": 638512932458487685,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\netease_world_resource_packs.json": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\netease_world_resource_packs.json",
      "Md5": "f5bd57c383ba95f77ad910dd0200e081",
      "Size": 6,
      "LastWriteTime": 638512932458472591,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\netease_wpflauncher_cpp.cppconfig": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\netease_wpflauncher_cpp.cppconfig",
      "Md5": "7efc764c18a001b0ac4ac382f9e6294c",
      "Size": 5257,
      "LastWriteTime": 638512932220746176,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\behavior_packs": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\behavior_packs",
      "Md5": "",
      "Size": 0,
      "LastWriteTime": 638429025359229778,
      "Type": 3
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db",
      "Md5": "",
      "Size": 0,
      "LastWriteTime": 638513027158019995,
      "Type": 3
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025541.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025541.ldb",
      "Md5": "ef17b2f9394205a5dd47eb862a1a5ad3",
      "Size": 2139091,
      "LastWriteTime": 638512959851612848,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025542.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025542.ldb",
      "Md5": "b756458bde6bb99c2f26de2e4d903add",
      "Size": 2133215,
      "LastWriteTime": 638512959862830575,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025584.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025584.ldb",
      "Md5": "6f1ff1084db370bf41f99288d8e4e1f1",
      "Size": 2117890,
      "LastWriteTime": 638512966340616088,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025585.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025585.ldb",
      "Md5": "29dba033d1eb5e8e615dca3a5ae83c48",
      "Size": 2115489,
      "LastWriteTime": 638512966351495587,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025586.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025586.ldb",
      "Md5": "3ee7993481660b0393bd909c8629c92f",
      "Size": 2118509,
      "LastWriteTime": 638512966363234685,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025587.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025587.ldb",
      "Md5": "74ce81a92206fe07352f8babae446bd8",
      "Size": 2134349,
      "LastWriteTime": 638512966375917728,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025588.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025588.ldb",
      "Md5": "e511980f6e937dccb26250fff230c8b9",
      "Size": 2132482,
      "LastWriteTime": 638512966387679053,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025589.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025589.ldb",
      "Md5": "9a51aa6bfa739ea281896d7a6fce732d",
      "Size": 2135645,
      "LastWriteTime": 638512966399762472,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025590.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025590.ldb",
      "Md5": "36900a7ee704f9550c431d7e5d40c1d5",
      "Size": 2137901,
      "LastWriteTime": 638512966412469867,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025591.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025591.ldb",
      "Md5": "8f386ce1f5b256dc70b02bc2b2f0696d",
      "Size": 2134518,
      "LastWriteTime": 638512966426288402,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025592.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025592.ldb",
      "Md5": "e0b676f30312927027e52f29f3ab3587",
      "Size": 2137899,
      "LastWriteTime": 638512966439017603,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025593.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025593.ldb",
      "Md5": "62a236aa7cbd4add968fb930597e0777",
      "Size": 8538,
      "LastWriteTime": 638512966439414724,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025611.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025611.ldb",
      "Md5": "cf3f08cc7ffa786399ef682122028b7b",
      "Size": 61742,
      "LastWriteTime": 638512972604298792,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025642.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025642.ldb",
      "Md5": "90ee15fdddc84bab2cb93346db762efd",
      "Size": 4247,
      "LastWriteTime": 638512983913420039,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025664.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025664.ldb",
      "Md5": "32f72c4bd472b089d66e1df5eba20443",
      "Size": 28373,
      "LastWriteTime": 638512986070434309,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025702.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025702.ldb",
      "Md5": "1cec3782ac10c628c6a5c25c4fd7d493",
      "Size": 2120328,
      "LastWriteTime": 638512989111476675,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025703.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025703.ldb",
      "Md5": "d5fa78bb096a7c485782eea0c5697527",
      "Size": 2113176,
      "LastWriteTime": 638512989121592285,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025704.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025704.ldb",
      "Md5": "ef384eb6cefff040e4e3325c604baa2b",
      "Size": 2113037,
      "LastWriteTime": 638512989131523618,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025705.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025705.ldb",
      "Md5": "5b31a2c187d8d76e45f18a1ad10b6e19",
      "Size": 2137516,
      "LastWriteTime": 638512989141550490,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025706.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025706.ldb",
      "Md5": "b7cc16f61e5a7ec73672178448f5b417",
      "Size": 2116456,
      "LastWriteTime": 638512989150757523,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025707.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025707.ldb",
      "Md5": "355ccf706a7b5b42baeea013b4160b19",
      "Size": 2111211,
      "LastWriteTime": 638512989159777690,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025708.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025708.ldb",
      "Md5": "8090ea88371c787d6c9fc948548f55f7",
      "Size": 2127108,
      "LastWriteTime": 638512989169603170,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025709.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025709.ldb",
      "Md5": "feea91773666ca2b6fdc52647f5a88de",
      "Size": 36654,
      "LastWriteTime": 638512989170211526,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025717.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025717.ldb",
      "Md5": "b7ddaf3268ea858832426175d19cdff2",
      "Size": 2132620,
      "LastWriteTime": 638512999498371754,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025718.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025718.ldb",
      "Md5": "828894c5ea4165a524ae172650beda4a",
      "Size": 2134331,
      "LastWriteTime": 638512999504709545,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025731.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025731.ldb",
      "Md5": "ed42179691eaa1ab6e18e6963b0ebcc5",
      "Size": 2134056,
      "LastWriteTime": 638513012024332665,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025732.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025732.ldb",
      "Md5": "1065e972b11f2858535bcb89b1f43fbb",
      "Size": 2127662,
      "LastWriteTime": 638513012040923688,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025733.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025733.ldb",
      "Md5": "bf6c92e333fc7b62f3537e59db6ceb4b",
      "Size": 2145572,
      "LastWriteTime": 638513012047665941,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025734.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025734.ldb",
      "Md5": "b2327ddee7d2a1cc6f552b8db6ea6fe5",
      "Size": 2127569,
      "LastWriteTime": 638513012054213191,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025735.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025735.ldb",
      "Md5": "aa81d8958bdfd8618976c3eda1a2e2ad",
      "Size": 2115608,
      "LastWriteTime": 638513012060616897,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025736.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025736.ldb",
      "Md5": "76c16fb05c15451e0c88c2bbf2382c8b",
      "Size": 2116962,
      "LastWriteTime": 638513012066866098,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025737.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025737.ldb",
      "Md5": "cf682bc46d1ca1d19a6f9c0776f7e9d6",
      "Size": 2128890,
      "LastWriteTime": 638513012073358415,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025738.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025738.ldb",
      "Md5": "c3af2feb4825cc174ac91ba93d1ccc6b",
      "Size": 2137473,
      "LastWriteTime": 638513012080232710,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025739.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025739.ldb",
      "Md5": "86296c9c13a461f0ee57b825980b982a",
      "Size": 2120996,
      "LastWriteTime": 638513012087515027,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025740.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025740.ldb",
      "Md5": "0360be572354844202976b1cd5602817",
      "Size": 12327,
      "LastWriteTime": 638513012087812098,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025748.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025748.ldb",
      "Md5": "91e109d894aaf7971970359a6e0071de",
      "Size": 2125556,
      "LastWriteTime": 638513022108718581,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025749.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025749.ldb",
      "Md5": "916f505842a01ccdd0418e36014fe8fa",
      "Size": 2115850,
      "LastWriteTime": 638513022115019275,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025750.log": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025750.log",
      "Md5": "fd5d56699d05d1c614a5f410ae24fedf",
      "Size": 2773695,
      "LastWriteTime": 638513027932519180,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025752.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025752.ldb",
      "Md5": "62f7556007931aebaba5167efc183511",
      "Size": 26598,
      "LastWriteTime": 638513027157521332,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025753.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025753.ldb",
      "Md5": "1b3b036fe13e3b15b01366a7f437f970",
      "Size": 30301,
      "LastWriteTime": 638513027157723298,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025754.ldb": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\025754.ldb",
      "Md5": "3a2fcbcd226bf3fec061c800d39d69a0",
      "Size": 20614,
      "LastWriteTime": 638513027157918244,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\CURRENT": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\CURRENT",
      "Md5": "3c54b0d508eb55d33c3b0adce03acb91",
      "Size": 20,
      "LastWriteTime": 638512932459103539,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\MANIFEST-025284": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\db\\MANIFEST-025284",
      "Md5": "d51f4ce6a42c23b07b3a3cd7ddef7c98",
      "Size": 32627,
      "LastWriteTime": 638513027158019995,
      "Type": 2
    },
    "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\resource_packs": {
      "Path": "C:\\Users\\sjx20\\AppData\\Roaming\\MinecraftPE_Netease\\minecraftWorlds\\MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c\\resource_packs",
      "Md5": "",
      "Size": 0,
      "LastWriteTime": 638429025359229778,
      "Type": 3
    }
  },
  "Path": "C:\\MCLDownload\\Game\\sjx20011225@163.com\\MCGame\\生存\\生存_cloud.config",
  "Result": {
    "a": true,
    "b": "",
    "c": null
  }
}