{
  "SaveName": "生存",
  "WorldName": "生存",
  "GameModeIdx": 0,
  "GameVersion": 100000000,
  "IsHost": false,
  "HostID": 0,
  "GameType": 7,
  "LanGameStartServerTime": 0,
  "RoomName": "",
  "RoomType": 0,
  "GameLaunchModeIdx": 0,
  "MaxPlayers": 8,
  "IsAllowCheat": false,
  "IsOpenCMD": false,
  "Seed": "",
  "Structures": true,
  "LastPlayTime": 1715677208,
  "TotalPlayTime": 817185,
  "UpdateTime": 0,
  "AllowCheat": false,
  "MapType": 0,
  "BonusChest": true,
  "GamePath": "C:\\MCLDownload\\Game\\sjx20011225@163.com\\MCGame\\生存",
  "GUID": "MCGame-ea434d92-ed55-4c63-8cf7-b3191691356c",
  "WorldId": null,
  "RecentRoleID": null,
  "OpenCMDWindow": false,
  "InstallComponents": [],
  "OpenedVisualTextureList": [],
  "OpenedVisualShaderpackList": [],
  "RoleList": [
    {
      "avu": false,
      "Name": "Dimopes",
      "CreatedTimeStamp": 1707276816,
      "EntityID": null,
      "ExpireTime": 0
    }
  ],
  "IsNeverNote": false,
  "IsAutoSync": false,
  "IsNewGame": false,
  "IsAllowPE": false,
  "Java": 17,
  "ServerID": 0,
  "HasPassword": false,
  "tag_ids": null,
  "item_ids": [],
  "Result": {
    "a": true,
    "b": "",
    "c": null
  }
}